.ViewedProject .titleContainer {
  margin: auto;
}

.ViewedProject .title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: var(--fontSizeSM);
}

.ViewedProject .projectDescription {
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.ViewedProject .imgContainer {
  height: 100vh;
  width: 100vw;
  border-radius: 5px;
  color: var(--MainText);
  padding: 2em;
  position: fixed;
  overflow-y: scroll;
  z-index: 6;
  margin-top: 10vh;
}

.ViewedProject .imgContainer img {
  width: 60vw;
}

.ViewedProject .date {
  text-align: center;
  margin-top: 1rem;
  font-style: italic;
}

@media (max-width: 768px) {
  .ViewedProject .imgContainer {
    position: fixed;
    padding: 1em;
  }
}
