.Toolbar nav {
  height: 10vh;
  z-index: 2;
  position: fixed;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.Toolbar nav.Colored {
  background-color: var(--DarkColor);
  transition: 0.5s;
}

.Toolbar nav.Transparent {
  background-color: transparent;
  transition: 0.5s;
}

main {
  height: 100%;
}
