.Toolbar nav {
  height: 10vh;
  z-index: 2;
  position: fixed;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.Toolbar nav.Colored {
  background-color: var(--DarkColor);
  transition: 0.5s;
}

.Toolbar nav.Transparent {
  background-color: transparent;
  transition: 0.5s;
}

.Toolbar .pageIndicator {
  display: none;
  text-transform: capitalize;
  font-weight: 700;
  margin: auto 25% auto 0;
  font-family: Gilroy-Bold;
  font-size: var(--fontSizeML);
}

@media (max-width: 1250px) {
  .Toolbar .NavigationItems,
  .Toolbar .Social,
  .logoutButton {
    display: none;
  }

  .Toolbar .pageIndicator {
    display: block;
  }
}
