.Contact-Container {
  padding: 1rem 2rem;
  font-size: var(--fontSizeSM);
  border-radius: 0.5em;
  box-shadow: 9px 9px 19px 12px rgba(0, 0, 0, 0.7);
  background-color: var(--DarkColor);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ContactMe {
  text-align: start;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact-email,
.contact-phone {
  display: flex;
}

.fit-center {
  height: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  margin: auto 1rem auto 2rem;
  letter-spacing: 1px;
}

[data-icon="phone"]:before {
  font-size: 3rem;
}
