.Project-Container {
  height: 20rem;
  margin: auto;
  width: 20rem;
  overflow: hidden;
  border-radius: 0.5em;
}

.Portfolio-Project-List {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  top: 30vh;
  height: 70vh;
  width: 98vw;
  flex-wrap: wrap;
}

@media (max-width: 1250px) {
  .Portfolio-Project-List {
    grid-template-columns: 1fr 1fr;
    margin-top: 5vh;
  }
}

@media (max-width: 768px) {
  .Portfolio-Project-List {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 2vh;
  }

  .Project-Container {
    margin: 1em auto;
  }
}
